@model MIS4200AndrewGolik.Models.FlightTrack

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FlightTrack</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.flight.departingAirport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.flight.departingAirport)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ticketID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ticketID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.flightTrackID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
